---
import {
  siteTitle,
  siteDescription,
  siteIcon,
  accentColor,
  themeMode,
  fontFamily,
  maxWidth,
  maxWidthValues,
} from "../config";
import "../styles/globals.css";
import Navbar from "../components/Navbar.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = siteTitle, description = siteDescription } = Astro.props;
const maxWidthPx = maxWidthValues[maxWidth];
---

<html lang="en" data-theme={themeMode === "dynamic" ? undefined : themeMode}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href={siteIcon} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <style define:vars={{ accentColor, fontFamily, maxWidthPx }}>
      :root {
        --color-accent: var(--accentColor);
        --font: var(--fontFamily);
        --max-width: var(--maxWidthPx);
      }
    </style>
  </head>
  <body>
    <header>
      <Navbar>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </Navbar>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  header,
  main {
    max-width: var(--max-width);
    margin: 0 auto;
  }
</style>
